
body {
    background-image: url("https://phonoteka.org/uploads/posts/2022-02/1643949134_2-phonoteka-org-p-nochnoe-nebo-fon-dlya-fotoshopa-2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }